[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd

*.mp4
*.psd
*.fbx
*.zip
*.rar
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.dll
*.dylib
*.so
